 /* Overall style's */
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: rgb(245, 20, 20);
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
nav a {
    text-decoration: none;
    margin-right: 19px;font-size:larger;
    text-decoration-line: underline;
}
.hero {
    height: 300px;
    width: 100%;
    background-color: royalblue;
    position: relative; 
}
.hero-subtitle {
    position: absolute;
    bottom: 10%;
    left: 75%;
    /* padding: 200%, solid, rgb(234, 238, 248); */
}
 section{
     display:flex;
     align-items:center;
 }
 section h1 {
     flex:0 0 20%;
     text-align: right;
     padding-right: 15px;
     border-right: 1px solid black;  
 }
 section div {
     flex:0 0 75%;
 }
 section div p {
     margin-bottom: 15px;
 }
section .work-container{
    background-color: blueviolet;
    display:flex;
    justify-content: center;

}
.surf-report{
    height: 350px;
    flex-basis: 100%;
    background-color: brown;
}
section div a {
    text-decoration: none;
    display:flex;
}
footer {
    text-decoration: none;
    margin-right: 19px;font-size:small;
    text-align: center;
    background-color: rgb(245, 20, 20);
     line-height: -150px; 
    text-decoration-line: underline; 
    display:flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 0px;
    word-spacing: 130px;
}